@{
    ViewData["Title"] = "Private";
}

<h1>Manage Computer</h1>

<div>
    <div>
        <div class="row">
            <input id="password" type="password" class="form-control" style="margin-bottom: 10px" placeholder="password"/>
        </div>
        <div class="btn-group row">
            <button id="start" class="btn btn-primary">Start Pc</button>
            <button id="sleep" class="btn btn-primary">Sleep Pc</button>
            <button id="hibernate" class="btn btn-primary">Hibernate Pc</button>
            <button id="shutdown" class="btn btn-primary">Shutdown Pc</button>
        </div>
        <div class="row" style="margin-top: 10px">
            <input id="fileInput" class="form-control" placeholder="File Tags"/>
            <button id="file" class="btn btn-primary" style="margin-top: 10px">Request File</button>
        </div>
        <p id="status"></p>
    </div>
</div>

<script type="text/javscript" src="/Views/Private/Scripts.js"></script>

<script>
    document.getElementById("start").onclick = actionApiCall("startup", "start-error")
    document.getElementById("sleep").onclick = actionApiCall("sleep", "sleep-error")
    document.getElementById("hibernate").onclick = actionApiCall("hibernate", "hibernate-error")
    document.getElementById("shutdown").onclick = actionApiCall("shutdown", "shutdown-error")
    document.getElementById("file").onclick = apiCall("gifs", "fileInput-error", { "Tags": document.getElementById("fileInput").value.split(" ") });

    function actionApiCall(action, errorTagId) {
        return apiCall("pcState", errorTagId, { Action: action });
    }

    function displayStatus(status) {
        statusText = "Server error";
        statusColor = "red";

        if (status == 200) {
            statusText = "Success";
            statusColor = "green";
        }
        else if (status == 401) {
            statusText = "Invalid password";
        }
        else if (status == 429) {
            statusText = "Too soon since last request.";
        }

        document.getElementById("status").innerHTML = statusText;
        document.getElementById("status").style.color = statusColor;
    }

    function apiCall(route, errorTagId, body = {}) {
        return function () {
            body.Password = document.getElementById("password").value;
            fetch(`./private/${route}`,
                {
                    method: 'POST',
                    body: JSON.stringify(body),
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                })
                .then(response => {
                    displayStatus(response.status);
                });
        }
    }
</script>